body {
    min-height: 100vh;

    font-family: 'Rubik', sans-serif;
    background-color: $sec-light-grayish-violet;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    
    overflow: hidden;
}

@media (min-width: 1024px) {
    html {
        font-size: 18px;
    }
    main {
        flex-direction: row;
        gap: 5rem;
    }
}