footer {
    display: none;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: $clr-desaturated-dark-violet;
    
    a { 
        color: $clr-very-dark-desaturated-violet; 
    }
}

@media(min-width:1024px) {
    footer {
        display: block;
        margin-top: -13px;
    }
}